name: Compile app
on: [push, pull_request]

jobs:
  Compile:
    name: Install dependencies and compile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Node v24
        uses: actions/setup-node@v2
        with:
          node-version: 24

      - name: Install dependencies
        run: yarn
